In [1]:
import pandas as pd

In [11]:
df = pd.read_csv("C:/Users/firat/NewFolder1/groupbytest.csv",sep=";")

In [14]:
df

            Tarih Koordinat X Koordinat Y  Arac Sayim
0       1.01.2020   29,016617   41,044845       86521
1       1.01.2020    29,19354   41,051371        9451
2       1.01.2020   28,811125   41,024099       53991
3       1.01.2020   29,015483   41,073533      102531
4       1.01.2020   28,914282   41,018157      129090
5       1.01.2020     28,9374     41,2302        7906
6       1.01.2020   28,867974   41,195935       39246
7       1.01.2020   29,140881    41,19757        9606
8       1.01.2020   29,120768   41,017684      169696
9       1.01.2020   29,014192   41,085921       44118
10      1.01.2020   28,689368   41,039518       79988
11      1.01.2020   28,933163   41,134974       55494
12      1.01.2020   29,284354   40,959521        6436
13      1.01.2020   29,035721   41,003605       57753
14      1.01.2020   28,810309   41,066114       43280
15      1.01.2020   28,881736   41,066964       97482
16      1.01.2020   28,983658   41,037559       34567
17      1.01.2020    28,45456   41,054139       37161
18      1.01.2020   28,833719   40,967882       23819
19      1.01.2020   29,023281   41,125137       74222
20      1.01.2020       28,83     41,2135       12989
21      1.01.2020     28,8551     41,0551      142186
22      1.01.2020   28,807908     41,0007      118385
23      1.01.2020   28,981994    41,10021      183278
24      1.01.2020   29,040798   41,091107      145641
25      1.01.2020   29,013623   41,077812       97506
26      1.01.2020   28,932378   41,034829      181353
27      1.01.2020   28,930855   41,023201       78871
28      1.01.2020   28,877695   40,999537      154874
29      1.01.2020   28,851034   41,064636      131475
...           ...         ...         ...         ...
47368  31.05.2020   28,996337    41,03867       52053
47369  31.05.2020    28,92177   41,011618        6219
47370  31.05.2020   28,734461   40,978766       29198
47371  31.05.2020     28,9831     41,2262        7729
47372  31.05.2020   28,885556   41,050833       21903
47373  31.05.2020   28,506775   41,070053       12526
47374  31.05.2020   28,720065   41,054702       26414
47375  31.05.2020   29,034033   41,039438        2625
47376  31.05.2020   28,796893   40,997974       27778
47377  31.05.2020   29,122996   40,997621       25571
47378  31.05.2020   28,681475    41,02322       18709
47379  31.05.2020   28,690915   40,999795       21612
47380  31.05.2020    28,80777   41,048592       19686
47381  31.05.2020   29,327159    40,83456         818
47382  31.05.2020   29,206618    40,92919       11948
47383  31.05.2020   29,164621   41,197308        7792
47384  31.05.2020    28,91933   41,021521       52399
47385  31.05.2020     28,8124     41,1232        6483
47386  31.05.2020   29,096571    41,03104       11725
47387  31.05.2020     29,2822     41,1426        7752
47388  31.05.2020   28,813677   40,964018        4598
47389  31.05.2020   28,949946   41,051648       29359
47390  31.05.2020   29,194666   40,911278       21935
47391  31.05.2020    29,21172   40,905516       24508
47392  31.05.2020   29,053195    41,08062        3005
47393  31.05.2020   29,134042   40,940013       31801
47394  31.05.2020   28,967316    41,04366       12001
47395  31.05.2020   29,140881    41,19757        7875
47396  31.05.2020   29,121079   41,023801       34556
47397  31.05.2020   29,139895   40,996794       33212

[47398 rows x 4 columns]

In [22]:
df.drop("Koordinat X", axis=1, inplace= True)

KeyError: "['Koordinat X'] not found in axis"

In [23]:
df.drop("Koordinat Y", axis=1, inplace = True)

In [24]:
df

            Tarih  Arac Sayim
0       1.01.2020       86521
1       1.01.2020        9451
2       1.01.2020       53991
3       1.01.2020      102531
4       1.01.2020      129090
5       1.01.2020        7906
6       1.01.2020       39246
7       1.01.2020        9606
8       1.01.2020      169696
9       1.01.2020       44118
10      1.01.2020       79988
11      1.01.2020       55494
12      1.01.2020        6436
13      1.01.2020       57753
14      1.01.2020       43280
15      1.01.2020       97482
16      1.01.2020       34567
17      1.01.2020       37161
18      1.01.2020       23819
19      1.01.2020       74222
20      1.01.2020       12989
21      1.01.2020      142186
22      1.01.2020      118385
23      1.01.2020      183278
24      1.01.2020      145641
25      1.01.2020       97506
26      1.01.2020      181353
27      1.01.2020       78871
28      1.01.2020      154874
29      1.01.2020      131475
...           ...         ...
47368  31.05.2020       52053
47369  31.05.2020        6219
47370  31.05.2020       29198
47371  31.05.2020        7729
47372  31.05.2020       21903
47373  31.05.2020       12526
47374  31.05.2020       26414
47375  31.05.2020        2625
47376  31.05.2020       27778
47377  31.05.2020       25571
47378  31.05.2020       18709
47379  31.05.2020       21612
47380  31.05.2020       19686
47381  31.05.2020         818
47382  31.05.2020       11948
47383  31.05.2020        7792
47384  31.05.2020       52399
47385  31.05.2020        6483
47386  31.05.2020       11725
47387  31.05.2020        7752
47388  31.05.2020        4598
47389  31.05.2020       29359
47390  31.05.2020       21935
47391  31.05.2020       24508
47392  31.05.2020        3005
47393  31.05.2020       31801
47394  31.05.2020       12001
47395  31.05.2020        7875
47396  31.05.2020       34556
47397  31.05.2020       33212

[47398 rows x 2 columns]

In [15]:
df.groupby("Tarih").sum()

            Arac Sayim
Tarih
1.01.2020     23377185
1.02.2020     32799679
1.03.2020     29221108
1.04.2020     18696665
1.05.2020      4095996
10.01.2020    27841803
10.02.2020    25168258
10.03.2020    30534650
10.04.2020    19686418
10.05.2020     3016675
11.01.2020    17007733
11.02.2020    31013921
11.03.2020    31633382
11.04.2020     1391313
11.05.2020    24236999
12.01.2020    25327649
12.02.2020    31613993
12.03.2020    32046411
12.05.2020    24033959
13.01.2020    28500328
13.02.2020    32115167
13.03.2020    32623476
13.04.2020    19370799
13.05.2020    25399951
14.01.2020    28905373
14.02.2020    32386857
14.03.2020    31266464
14.04.2020    18972795
14.05.2020    25719827
15.01.2020    30554037
...                ...
4.01.2020     27812885
4.02.2020     26503352
4.03.2020     26086566
4.04.2020     13238808
4.05.2020     22786699
5.01.2020     23262051
5.02.2020     29787498
5.03.2020     32052113
5.04.2020      7448550
5.05.2020     22406296
6.01.2020     23625890
6.02.2020     29609034
6.03.2020     32650265
6.04.2020     16643633
6.05.2020     21329018
7.01.2020     19153159
7.02.2020     30526895
7.03.2020     32617688
7.04.2020     16891495
7.05.2020     22984922
8.01.2020     25178202
8.02.2020     28193143
8.03.2020     29538076
8.04.2020     17260393
8.05.2020     24913529
9.01.2020     24277166
9.02.2020      5460277
9.03.2020     31366185
9.04.2020     17494273
9.05.2020      4248639

[151 rows x 1 columns]

In [27]:
df.sort_values("Tarih", inplace = True)
df

           Tarih  Arac Sayim
0      1.01.2020       86521
15     1.01.2020       97482
154    1.01.2020       99781
1      1.01.2020        9451
2      1.01.2020       53991
3      1.01.2020      102531
4      1.01.2020      129090
5      1.01.2020        7906
6      1.01.2020       39246
7      1.01.2020        9606
8      1.01.2020      169696
9      1.01.2020       44118
10     1.01.2020       79988
11     1.01.2020       55494
12     1.01.2020        6436
13     1.01.2020       57753
16     1.01.2020       34567
14     1.01.2020       43280
17     1.01.2020       37161
34     1.01.2020      129100
19     1.01.2020       74222
20     1.01.2020       12989
21     1.01.2020      142186
22     1.01.2020      118385
23     1.01.2020      183278
24     1.01.2020      145641
25     1.01.2020       97506
27     1.01.2020       78871
36     1.01.2020       54347
28     1.01.2020      154874
...          ...         ...
40209  9.05.2020        1963
40193  9.05.2020       22930
40180  9.05.2020       26104
40181  9.05.2020       12245
40182  9.05.2020       19815
40183  9.05.2020       17455
40184  9.05.2020        5207
40185  9.05.2020       18738
40179  9.05.2020       20903
40173  9.05.2020       13124
40232  9.05.2020       20949
40230  9.05.2020       24158
40214  9.05.2020       14739
40215  9.05.2020       23989
40216  9.05.2020        6311
40217  9.05.2020       24161
40218  9.05.2020       13485
40219  9.05.2020       10865
40220  9.05.2020        8825
40231  9.05.2020       24320
40221  9.05.2020        1884
40223  9.05.2020        5919
40224  9.05.2020       13868
40226  9.05.2020       21811
40210  9.05.2020       21208
40227  9.05.2020        5018
40228  9.05.2020        5344
40229  9.05.2020       16809
40222  9.05.2020         585
40426  9.05.2020       16228

[47398 rows x 2 columns]