In [18]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
data = {"f":["ilk deneme","firto","heheheh"],"tenure":[3,5,7]}

In [4]:
df = pd.DataFrame(data, columns =["f","tenure"])
df.head()

            f  tenure
0  ilk deneme       3
1       firto       5
2     heheheh       7

In [5]:
pwd

'C:\\Users\\firat\\NewFolder1'

#csv veya excel veri çekme

In [13]:
df = pd.read_csv("C:/Users/firat/NewFolder1/435.csv",sep=';')

In [14]:
df

         Date  Daily Cases  Total Case  Total Cars on Traffic
0   4.01.2020         2148       15679             18696665.0
1   4.02.2020         2456       18135             17770314.0
2   4.03.2020         2786       20921             19651370.0
3   4.04.2020         3013       23934             13238808.0
4   4.05.2020         3135       27069              7448550.0
5   4.06.2020         3148       30217             16643633.0
6   4.07.2020         3892       34109             16891495.0
7   4.08.2020         4117       38226             17260393.0
8   4.09.2020         4056       42282             17494273.0
9   4.10.2020         4747       47029             19686418.0
10  4.11.2020         5138       52167              1391313.0
11  4.12.2021         4789       56956                    NaN
12  4.13.2020         4093       61049             19370799.0
13  4.14.2020         4062       65111             18972795.0
14  4.15.2020         4281       69392             18465463.0
15  4.16.2020         4801       74193             19618810.0
16  4.17.2020         4353       78546             21267170.0
17  4.18.2020         3783       82329              2733077.0
18  4.19.2020         3977       86306              2195767.0
19  4.20.2020         4674       90980             22421478.0
20  4.21.2020         4611       95591             22018987.0
21  4.22.2020         3083       98674             23916096.0
22  4.23.2020         3116      101790              3944993.0
23  4.24.2020         3122      104912              4141341.0
24  4.25.2020         2861      107773              3101861.0
25  4.26.2020         2357      110130              2542261.0
26  4.27.2020         2131      112261             23005209.0
27  4.28.2020         2392      114653             21425157.0
28  4.29.2020         2936      117589             22115623.0
29  4.30.2020         2615      120204             24323586.0
..        ...          ...         ...                    ...
31  5.02.2020         1983      124375              3491259.0
32  5.03.2020         1670      126045              2692776.0
33  5.04.2020         1614      127659             22786699.0
34  5.05.2020         1832      129491             22406296.0
35  5.06.2020         2253      131744             21329018.0
36  5.07.2020         1977      133721             22984922.0
37  5.08.2020         1848      135569             24913529.0
38  5.09.2020         1546      137115              4248639.0
39  5.10.2020         1542      138657              3016675.0
40  5.11.2020         1114      139771             24236999.0
41  5.12.2020         1704      141475             24033959.0
42  5.13.2020         1639      143114             25399951.0
43  5.14.2020         1635      144749             25719827.0
44  5.15.2020         1708      146457             28121397.0
45  5.16.2020         1610      148067              5193320.0
46  5.17.2020         1368      149435              3664189.0
47  5.18.2020         1158      150593              6241051.0
48  5.19.2020         1022      151615              5376799.0
49  5.20.2020          972      152587             28284683.0
50  5.21.2020          961      153548             27089976.0
51  5.22.2020         1121      154669             28104863.0
52  5.23.2020         1491      156160              5743090.0
53  5.24.2020         1141      157301              3710507.0
54  5.25.2020          987      158288              4107588.0
55  5.26.2020          948      159236              4741462.0
56  5.27.2020         1035      160271             27792661.0
57  5.28.2020         1182      161453             27099314.0
58  5.29.2020         1141      162594             29430324.0
59  5.30.2020          983      163577              6874894.0
60  5.31.2020          839      164416              5547214.0

[61 rows x 4 columns]

In [15]:
df.isnull().sum()

Date                     0
Daily Cases              0
Total Case               0
Total Cars on Traffic    1
dtype: int64

In [10]:
df.dropna(axis=0, inplace=True)

In [11]:
df

         Date  Daily Cases  Total Case  Total Cars on Traffic
0   4.01.2020         2148       15679             18696665.0
1   4.02.2020         2456       18135             17770314.0
2   4.03.2020         2786       20921             19651370.0
3   4.04.2020         3013       23934             13238808.0
4   4.05.2020         3135       27069              7448550.0
5   4.06.2020         3148       30217             16643633.0
6   4.07.2020         3892       34109             16891495.0
7   4.08.2020         4117       38226             17260393.0
8   4.09.2020         4056       42282             17494273.0
9   4.10.2020         4747       47029             19686418.0
10  4.11.2020         5138       52167              1391313.0
12  4.13.2020         4093       61049             19370799.0
13  4.14.2020         4062       65111             18972795.0
14  4.15.2020         4281       69392             18465463.0
15  4.16.2020         4801       74193             19618810.0
16  4.17.2020         4353       78546             21267170.0
17  4.18.2020         3783       82329              2733077.0
18  4.19.2020         3977       86306              2195767.0
19  4.20.2020         4674       90980             22421478.0
20  4.21.2020         4611       95591             22018987.0
21  4.22.2020         3083       98674             23916096.0
22  4.23.2020         3116      101790              3944993.0
23  4.24.2020         3122      104912              4141341.0
24  4.25.2020         2861      107773              3101861.0
25  4.26.2020         2357      110130              2542261.0
26  4.27.2020         2131      112261             23005209.0
27  4.28.2020         2392      114653             21425157.0
28  4.29.2020         2936      117589             22115623.0
29  4.30.2020         2615      120204             24323586.0
30  5.01.2020         2188      122392              4095996.0
31  5.02.2020         1983      124375              3491259.0
32  5.03.2020         1670      126045              2692776.0
33  5.04.2020         1614      127659             22786699.0
34  5.05.2020         1832      129491             22406296.0
35  5.06.2020         2253      131744             21329018.0
36  5.07.2020         1977      133721             22984922.0
37  5.08.2020         1848      135569             24913529.0
38  5.09.2020         1546      137115              4248639.0
39  5.10.2020         1542      138657              3016675.0
40  5.11.2020         1114      139771             24236999.0
41  5.12.2020         1704      141475             24033959.0
42  5.13.2020         1639      143114             25399951.0
43  5.14.2020         1635      144749             25719827.0
44  5.15.2020         1708      146457             28121397.0
45  5.16.2020         1610      148067              5193320.0
46  5.17.2020         1368      149435              3664189.0
47  5.18.2020         1158      150593              6241051.0
48  5.19.2020         1022      151615              5376799.0
49  5.20.2020          972      152587             28284683.0
50  5.21.2020          961      153548             27089976.0
51  5.22.2020         1121      154669             28104863.0
52  5.23.2020         1491      156160              5743090.0
53  5.24.2020         1141      157301              3710507.0
54  5.25.2020          987      158288              4107588.0
55  5.26.2020          948      159236              4741462.0
56  5.27.2020         1035      160271             27792661.0
57  5.28.2020         1182      161453             27099314.0
58  5.29.2020         1141      162594             29430324.0
59  5.30.2020          983      163577              6874894.0
60  5.31.2020          839      164416              5547214.0

In [17]:
df.corr()

                       Daily Cases  Total Case  Total Cars on Traffic
Daily Cases               1.000000   -0.774029              -0.001534
Total Case               -0.774029    1.000000               0.003806
Total Cars on Traffic    -0.001534    0.003806               1.000000

In [32]:
df.dtypes

Date                      object
Daily Cases                int64
Total Case                 int64
Total Cars on Traffic    float64
dtype: object